{% extends "base.html" %}

{% block content %}
<div class="p-4 flex flex-col gap-y-4 container">
  <h1 class="text-3xl font-bold text-gray-800">
    Product list
  </h1>

  <p>
    {% if user.is_authenticated %}
      <p>
        {{user.username}}
      </p>

      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    {% else %}
      Not logged in
    {% endif %}
  </p>
  
  <div>
    <ul>
      {% for product in products %}
        <li>{{product.name}} - {{product.price}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}